In [1]:
import pandas as pd
import os
import numpy as np
from collections import defaultdict

list_of_data = (os.listdir("data"))
list_of_df = []

for file in list_of_data:
    frame = pd.read_csv("data/"+str(file), parse_dates=[['Dispatch Date', 'Dispatch Time']])
    list_of_df.append(frame)
    print ("appended " + str(file))

df = pd.concat(list_of_df)

df.to_csv("all_calls.csv")

appended 2018_clean.csv
appended 2019_clean.csv
appended LAPD_Calls_for_Service_2015.csv
appended LAPD_Calls_for_Service_2016.csv
appended LAPD_Calls_for_Service_2017.csv

In [3]:
df.head()

,Dispatch Date_Dispatch Time,Unnamed: 0,Incident_Number,Area_Occ,Rpt_Dist,Call_Type_Code,Call_Type_Text,Incident Number,Reporting District,Area Occurred,Call Type Code,Call Type Description,call volume
0,2018-01-01 01:30:17,0.0,1.71231e+11,Olympic,2015.0,507P,PARTY,NaN,NaN,NaN,NaN,NaN,1
1,2018-01-01 00:53:55,1.0,1.71231e+11,Newton,1371.0,620F,FAMILY,NaN,NaN,NaN,NaN,NaN,1
2,2018-01-01 00:24:24,2.0,1.71231e+11,N Hollywood,1514.0,620N,NEIGHBOR,NaN,NaN,NaN,NaN,NaN,1
3,2018-01-01 01:55:15,3.0,1.71231e+11,Rampart,204.0,507P,PARTY,NaN,NaN,NaN,NaN,NaN,1
4,2018-01-01 00:53:59,4.0,1.71231e+11,Newton,1324.0,415G,GRP,NaN,NaN,NaN,NaN,NaN,1

In [2]:
df["call volume"] = 1

In [28]:
df["date time"] = df.index

In [4]:
clean_df = df[["Dispatch Date_Dispatch Time", "call volume"]]

In [5]:
clean_df.columns

Index(['Dispatch Date_Dispatch Time', 'call volume'], dtype='object')

In [6]:
clean_df.head()

  Dispatch Date_Dispatch Time  call volume
0         2018-01-01 01:30:17            1
1         2018-01-01 00:53:55            1
2         2018-01-01 00:24:24            1
3         2018-01-01 01:55:15            1
4         2018-01-01 00:53:59            1

In [8]:
clean_df.index = clean_df["Dispatch Date_Dispatch Time"]

In [9]:
df.head()

,Dispatch Date_Dispatch Time,Unnamed: 0,Incident_Number,Area_Occ,Rpt_Dist,Call_Type_Code,Call_Type_Text,Incident Number,Reporting District,Area Occurred,Call Type Code,Call Type Description,call volume
0,2018-01-01 01:30:17,0.0,1.71231e+11,Olympic,2015.0,507P,PARTY,NaN,NaN,NaN,NaN,NaN,1
1,2018-01-01 00:53:55,1.0,1.71231e+11,Newton,1371.0,620F,FAMILY,NaN,NaN,NaN,NaN,NaN,1
2,2018-01-01 00:24:24,2.0,1.71231e+11,N Hollywood,1514.0,620N,NEIGHBOR,NaN,NaN,NaN,NaN,NaN,1
3,2018-01-01 01:55:15,3.0,1.71231e+11,Rampart,204.0,507P,PARTY,NaN,NaN,NaN,NaN,NaN,1
4,2018-01-01 00:53:59,4.0,1.71231e+11,Newton,1324.0,415G,GRP,NaN,NaN,NaN,NaN,NaN,1

In [10]:
df_by_hour = clean_df.resample("H").sum()

In [26]:
df_by_hour.head()

                             call volume
Dispatch Date_Dispatch Time
2015-01-01 00:00:00                  286
2015-01-01 01:00:00                  265
2015-01-01 02:00:00                  179
2015-01-01 03:00:00                  152
2015-01-01 04:00:00                  127

In [14]:
df_by_hour.tail()

                             call volume
Dispatch Date_Dispatch Time
2019-12-31 19:00:00                  310
2019-12-31 20:00:00                  320
2019-12-31 21:00:00                  373
2019-12-31 22:00:00                  354
2019-12-31 23:00:00                  281

In [24]:
#year = pd.period_range(min(df_by_hour.index), max(df_by_hour.index))
#calls_per_hour = df_by_hour.reindex(year, fill_value=0)

In [25]:
df_by_hour.head()

            call volume
2015-01-01            0
2015-01-02            0
2015-01-03            0
2015-01-04            0
2015-01-05            0

In [27]:
df_by_hour["ds"] = df_by_hour.index
df_by_hour["y"] = df_by_hour["call volume"]

In [28]:
df_by_hour.head()

                             call volume                  ds    y
Dispatch Date_Dispatch Time
2015-01-01 00:00:00                  286 2015-01-01 00:00:00  286
2015-01-01 01:00:00                  265 2015-01-01 01:00:00  265
2015-01-01 02:00:00                  179 2015-01-01 02:00:00  179
2015-01-01 03:00:00                  152 2015-01-01 03:00:00  152
2015-01-01 04:00:00                  127 2015-01-01 04:00:00  127

In [30]:
df_by_hour["ds"]

Dispatch Date_Dispatch Time
2015-01-01 00:00:00   2015-01-01 00:00:00
2015-01-01 01:00:00   2015-01-01 01:00:00
2015-01-01 02:00:00   2015-01-01 02:00:00
2015-01-01 03:00:00   2015-01-01 03:00:00
2015-01-01 04:00:00   2015-01-01 04:00:00
                              ...
2019-12-31 19:00:00   2019-12-31 19:00:00
2019-12-31 20:00:00   2019-12-31 20:00:00
2019-12-31 21:00:00   2019-12-31 21:00:00
2019-12-31 22:00:00   2019-12-31 22:00:00
2019-12-31 23:00:00   2019-12-31 23:00:00
Freq: H, Name: ds, Length: 43824, dtype: datetime64[ns]

In [31]:
df_by_hour.to_csv("total_calls_per_hour.csv")